.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1em;
}

.image {
    aspect-ratio: 1 / 1;
    /* width: 100%; */
    object-fit: contain;
    border: 1px solid rgb(150, 150, 150);
}